<a href="https://colab.research.google.com/github/MuhammadHammad02/Pandas/blob/main/Apply%2Cdrop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Apply
import pandas as pd
import numpy as np

In [6]:
stats = pd.DataFrame(
    {
        'teams': ['Pakistan','India','Srilanka','South Africa','Newziland','Australia',"England"],
        'played':[5,4,3,5,6,5,5],
        'points':[10,8,6,7,8,9,8]
    },
    index=['t1','t2','t3','t4','t5','t6','t7']
)

In [8]:
stats

           teams  played  points
t1      Pakistan       5      10
t2         India       4       8
t3      Srilanka       3       6
t4  South Africa       5       7
t5     Newziland       6       8
t6     Australia       5       9
t7       England       5       8

In [10]:
new_df=stats.drop('teams',axis=1)

In [18]:
stats

    played  points
t1       5      10
t2       4       8
t3       3       6
t4       5       7
t5       6       8
t6       5       9
t7       5       8

In [12]:
display(stats)

           teams  played  points
t1      Pakistan       5      10
t2         India       4       8
t3      Srilanka       3       6
t4  South Africa       5       7
t5     Newziland       6       8
t6     Australia       5       9
t7       England       5       8

In [14]:
display(stats)
display(new_df)

           teams  played  points
t1      Pakistan       5      10
t2         India       4       8
t3      Srilanka       3       6
t4  South Africa       5       7
t5     Newziland       6       8
t6     Australia       5       9
t7       England       5       8

    played  points
t1       5      10
t2       4       8
t3       3       6
t4       5       7
t5       6       8
t6       5       9
t7       5       8

In [24]:
stats["Teams"]=['Pakistan',"India","Srilanka","England","Australia","Africa","Newziland"]
stats['Win']=stats['points']/2

In [25]:
stats

    played  points      Teams  Win
t1       5      10   Pakistan  5.0
t2       4       8      India  4.0
t3       3       6   Srilanka  3.0
t4       5       7    England  3.5
t5       6       8  Australia  4.0
t6       5       9     Africa  4.5
t7       5       8  Newziland  4.0